.content-wrapper {
    margin-top: 10px;
}

.meta-content span{
    font-size: 16px;
}


/** Content **/
.content-index-item-container {
    border: 1px #e8e8e8 solid;
    padding: 5px;
    margin: 5px;
}

.content-index-item-h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.content-index-item-h2 a {
   cursor: pointer;
}

.content-index-item-h2 a:hover {
    text-decoration: none;
}

.content-index-item-container .img-thumbnail {
    margin-top: 5px;
    margin-right: 5px;
}
/** END Content **/

.avatar {
    max-width: 20px;
    max-height: 20px;
    border-radius: 10%;
    position: relative;
    top: 2px;
    margin-right: 12px;
}

.sidebar-widget {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.sidebar-widget h3 {
    border-bottom: 1px solid #ccc;
    padding: 3px 10px;
    margin-bottom: 10px;
}






.footer-black .footer-center {
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #0f0f0f;
}

.nav-title {
    display: block;
    margin-bottom: 10px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.header-footer {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}

.header-footer__item:first-child {
    margin: 0;
}
.header-footer__item {
    display: block;
    margin-top: 5px;
}

.footer-center a {
    font-size: 13px;
}

.header-footer__item a {
    display: inline-block;
    font-size: 14px;
    color: #888;
    text-decoration: none;
}


.footer-black .footer-bottom {
    color: #888;
    background-color: #000;
}

.footer-bottom {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 12px;
}

.copyright p {
    margin: 0;
    line-height: 24px;
    font-size: 14px;
}

.bg-dark {
    background-color: black !important;
}

body {
    background-color: #e9e9e9;
}

.content-block {
    background-color: #fff;
}

.breadcrumb-container {
    margin-bottom: 15px;
}

p {
    color: #444444;
}