.login-form-block {
    background-color: #202020;
    width: 400px;
    padding: 20px;
}

.login-form-block input {
    background-color: white;
}


.login-form-block p, .login-form-block label {
    color: #e5dce0;
}

.login-form-text {
    color: white;
}


.box-logs {
    border:1px #ccc solid;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}